.fundo {
  background: #e7e687;  
}

/* Define o estilo geral da página de detalhes da receita */
.receita-detalhada-container {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Limita a largura máxima do conteúdo */
  margin-left: auto; /* Centraliza horizontalmente */
  margin-right: auto; /* Centraliza horizontalmente */
  text-align: center; /* Centraliza o texto (título e informações) */
}

/* Estiliza o botão de voltar */
.back-button {
  background-color: #e7dc3b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #0056b3;
}

/* Estiliza o título da receita */
.meal-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Define o estilo da imagem da receita */
.meal-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block; /* Garante que a imagem seja tratada como um bloco */
  margin-left: auto; /* Centraliza a imagem */
  margin-right: auto; /* Centraliza a imagem */
}

/* Estiliza a seção de informações da receita */
.meal-info {
  font-size: 1.1rem;
  color: #555;
}

.meal-info p {
  margin: 10px 0;
}

.meal-info strong {
  color: #333;
}
